/*
  В форке вашего проекта начните стилизацию страницы, в которую входит:
    + Подключение нестандартных шрифтов в формате WOFF2 со свойством font-display: swap.
      Шрифтовые файлы лежат у вас в папке fonts/ проекта.
    + Описание текстовых параметров для всех элементов:
      + гарнитура (название шрифта),
      + насыщенность шрифта,
      + размер шрифта,
      + высота строки,
      - цвет шрифта,
      + другие текстовые параметры, если требуется по макету.
    + Базовые текстовые параметры, необходимые для всего проекта, укажите на <body>.
    + Остальные указывайте точечно на необходимом элементе.

    - Описание фоновых параметров (цвет фона, расположение, размер и повторение фонового изображения).
      У каждого фона должен быть контрастный цвет текста.

  Подключите декоративные изображения в стилях:
    - достаточно подключить несколько крупных фоновых изображений или текстур,
      мелкие иконки можно не подключать.
*/

@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}
@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
  font-family: "PTSans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
/* тег h4 фактически не используется*/

/*Heading 4*/
.main-nav a,
.options h3,
.modal-window h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
/*Checkbox text*/
.options label {
  font-size: 18px;
  line-height: 23px;
}

/*Heading 3 none case*/
.card h3 {
  text-transform: none;
}
/*Text blocks*/
.features-list p,
.card p,
.filter select {
  font-family: "PTSans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
/*Button like normal*/
.card .rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/*Text phone*/
footer a.phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

/*Input text*/
input,
.price label {
  font-family: "PTSans", Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.price input,
.modal-window input {
  font-weight: 700;
}

/*Button small*/
button {
  font-family: "PTSans", Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
/*Button big*/
.search button,
.subscribe button,
.pagination button {
  /* font-weight: 700; */
  font-size: 20px;
  line-height: 36px;
  /* text-transform: uppercase; */
}
.modal-window button {
  font-size: 20px;
  line-height: 24px;
}

/*Text small*/
.breadcrumbs,
.modal-window span {
  font-size: 16px;
  line-height: 21px;
}
span.error {
  color: #ff5757;
}

/*Button like nonecase*/
.tooltip {
  font-size: 16px;
  line-height: 20px;
  /*text-transform: none;*/
}
