/*
  В форке вашего проекта начните стилизацию страницы, в которую входит:
    - Подключение нестандартных шрифтов в формате WOFF2 со свойством font-display: swap.
      Шрифтовые файлы лежат у вас в папке fonts/ проекта.
    - Описание текстовых параметров для всех элементов:
      - размер шрифта,
      - высота строки,
      - цвет шрифта,
      - насыщенность шрифта,
      - гарнитура (название шрифта),
      - другие текстовые параметры, если требуется по макету.
    Базовые текстовые параметры, необходимые для всего проекта, укажите на <body>.
    Остальные указывайте точечно на необходимом элементе.

    - Описание фоновых параметров (цвет фона, расположение, размер и повторение фонового изображения).
      У каждого фона должен быть контрастный цвет текста.

  Подключите декоративные изображения в стилях:
    - достаточно подключить несколько крупных фоновых изображений или текстур,
      мелкие иконки можно не подключать.
*/

@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
}
@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
}

body {
  font-family: "PTSans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  font-size: 60px;
  line-height: 78px;
}
h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
h4 {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

/*далее идут служебные стили, возможно они нигде не используются*/
h3.noncase {
  text-transform: none;
}

.checkbox-text {
  font-size: 18px;
  line-height: 23px;
}

/*.text-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}*/
.text-basic {
  /*класс используется*/
  font-size: 22px;
  line-height: 26px;
}
.text-blocks {
  font-size: 18px;
  line-height: 21px;
}
.text-small {
  font-size: 16px;
  line-height: 21px;
}
.text-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.button-big {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}
.button-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.button-like-normal {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.button-like-nonecase {
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}

/*конец служебных стилей*/

.main-nav a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.options h3 {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

footer a.phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.filter .card h3 {
  text-transform: none;
}

/*не настроен текст в inputs, buttons, в ссылках, выглядящих как button*/
